.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3F4E4F;
}

h1 {
  margin: 30px 30px 40px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #ff4C68;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

img {
  width: 70%;
  
  
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: absolute;
  right:1rem;
  bottom: 1rem;

}
